<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Finanzas/blob/main/DS_FIN_02_Google_Sheets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Authorizing google colab
from google.colab import auth
auth.authenticate_user()

In [2]:

# 2. credentials for google sheets
import gspread
from google.auth import default
creds, _ = default()

In [18]:

# 3. authotizing the connection
gc = gspread.authorize(creds)

In [22]:
#4. Connecting 
worksheet = gc.open('perro').sheet1

In [23]:
#5. Exporting data to get_all_values gives a list of rows.
rows = worksheet.get_all_values()

In [24]:
# 6. Using pandas to convert to a DataFrame and render.
import pandas as pd
df = pd.DataFrame.from_records(rows)
#creating columns name
df.columns = df.iloc[0]
df = df.iloc[1:]
df

,Mes,Capital,Intereses,Cuota sin seguros,Seguro de vida,Seguro de incendio y terremoto,Cuota con seguros,Saldo,,,
1,1,$1.186.111,$613.892,$1.800.003,$19.170,$30.800,$1.849.973,$86.814.176,"65,89%","34,11%","51,76%"
2,2,$1.194.385,$605.617,$1.800.003,$18.911,$30.800,$1.849.715,$85.619.790,"66,35%","33,65%","50,71%"
3,3,$1.202.717,$597.285,$1.800.003,$18.651,$30.800,$1.849.454,$84.417.073,"66,82%","33,18%","49,66%"
4,4,$1.211.108,$588.895,$1.800.003,$18.389,$30.800,$1.849.192,$83.205.965,"67,28%","32,72%","48,62%"
5,5,$1.219.556,$580.447,$1.800.003,$18.125,$30.800,$1.848.929,$81.986.409,"67,75%","32,25%","47,59%"
...,...,...,...,...,...,...,...,...,...,...,...
58,58,$1.762.851,$37.152,$1.800.003,$1.387,$30.800,$1.832.190,$3.562.759,"97,94%","2,06%","2,11%"
59,59,$1.775.149,$24.854,$1.800.003,$928,$30.800,$1.831.731,$1.787.610,"98,62%","1,38%","1,40%"
60,60,$1.787.610,$12.470,$1.800.080,$443,$30.800,$1.831.324,0,"99,31%","0,69%","0,70%"
61,,,,,,,,,,,
62,Total,$88.000.287,$19.999.958,$108.000.245,$1.848.028,$670.198,$110.518.471,,,,

In [ ]:
# 1. Authorizing
from google.colab import auth
auth.authenticate_user()

# 2. Credentials
import gspread
from google.auth import default
creds, _ = default()

# 3. Authorizing Credentials
gc = gspread.authorize(creds)

In [ ]:
# 4. Importing Google Sheet using google sheet key
test_google = gc.open_by_key('{key}')

# 5. Bring the tab you want to update 
test_googlept2 = test_google.worksheet('test')

In [ ]:
#1. Authorize
from google.colab import auth
auth.authenticate_user()

#2. Credentials
import gspread
from google.auth import default
creds, _ = default()

#3. Authorizing Credentials
gc = gspread.authorize(creds)

In [25]:
#4. Creating New Spreadsheet
sh = gc.create('Google_Colab_Medium_pt2')

#5. Open our new sheet and add some data.
worksheet = gc.open('Google_Colab_Medium_pt2').sheet1

In [26]:
cell_list = worksheet.range('A1:C2')

In [36]:
import random
for cell in cell_list:
  cell.value = random.randint(1,10)

worksheet.update_cells(cell_list)

cell_list

[<Cell R1C1 10>,
 <Cell R1C2 9>,
 <Cell R1C3 3>,
 <Cell R2C1 3>,
 <Cell R2C2 5>,
 <Cell R2C3 6>]