<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Finanzas/blob/main/DS_FIN_01_Creditos_estudio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science - Cr√©ditos

In [111]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Clase 06. Interes compuesto (platzi)

### üìä F√≥rmulas en inter√©s compuesto

1. **Capital base al inicio del periodo \(n\):**

$$
C_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{m(n - 1)}
$$

2. **Inter√©s del periodo \(n\):**

$$
I_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{m(n - 1)} \cdot \frac{i}{m}
$$

3. **Inter√©s acumulado hasta el periodo \(n\):**

$$
I_{\text{acum},n} = C_0 \cdot \left( \left(1 + \frac{i}{m} \right)^{mn} - 1 \right)
$$

4. **Capital final al final del periodo \(n\):**

$$
CF_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{mn}
$$

### üìä F√≥rmulas mensuales con tasa efectiva anual

1. **Conversi√≥n de mes a fracci√≥n de a√±o**  
Para el mes \( n \), su equivalente en a√±os es:  
$$
t = \frac{n}{12}
$$

2. **Capital base al inicio del mes \( n \)**  
(Valor acumulado hasta el mes anterior):  
$$
C_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{m \left(t - \frac{1}{12} \right)}
$$

3. **Inter√©s del mes \( n \)**  
(Inter√©s ganado exclusivamente durante el mes actual):  
$$
I_{\text{mes},n} = C_0 \cdot \left[
\left(1 + \frac{i}{m} \right)^{m \cdot t} -
\left(1 + \frac{i}{m} \right)^{m \cdot \left(t - \frac{1}{12} \right)}
\right]
$$

4. **Inter√©s acumulado hasta el mes \( n \)**  
(Suma total de intereses desde el inicio):  
$$
I_{\text{acum},n} = C_0 \cdot \left[
\left(1 + \frac{i}{m} \right)^{m \cdot t} - 1
\right]
$$

5. **Capital final al final del mes \( n \)**  
(Valor total acumulado con inter√©s compuesto):  
$$
CF_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{m \cdot t}
$$

---

### üìò Leyenda de s√≠mbolos:

- $$C_0$$: capital inicial  
- $$C_n$$: capital base al inicio del mes $$n$$  
- $$CF_n$$: capital final al final del mes $$n$$  
- $$I_{\text{mes},n}$$: inter√©s del mes $$n$$  
- $$I_{\text{acum},n}$$: inter√©s acumulado hasta el mes $$n$$  
- $$i$$: tasa de inter√©s efectiva anual  
- $$m$$: n√∫mero de capitalizaciones por a√±o (por ejemplo, 12 si es mensual)  
- $$t = \frac{n}{12}$$: mes $$n$$ expresado como fracci√≥n de a√±o

## 06.01. Tema: Interes compuesto anual (capitalizable anualmente)(clase 06)

Cual es el monto final de un deposito inicial de $1.000.000 a 5 a√±os d eplazo con un interes compuesto de 10% (como no se especifica se sobreentiende que es 10% anual).

In [1]:
capital_inicial = 1_000_000 # Capital inicial
tasa_anual = 0.1 # Tasa de interes efectivo anual
n = 5 # Cantidad de periodos que capitalizar√° (a√±os)
m = 1 # Cantidad de veces que capitaliza en el a√±o.

In [2]:
capital_final = round(capital_inicial * (1 + tasa_anual / m) ** (m * n))
capital_final

1610510

In [3]:
interes_acumulado = round(capital_inicial * ((1 + tasa_anual / m) ** (m * n) - 1))
interes_acumulado

610510

In [4]:
interes_periodo_n = round(capital_inicial * (1 + tasa_anual / m) ** (m * (n - 1)) * (tasa_anual / m))
interes_periodo_n

146410

In [5]:
import pandas as pd

def tabla_anual_interes_compuesto(capital_inicial, tasa_anual, m, n):
    df = pd.DataFrame({'Periodo': range(1, n + 1)})

    df['Capital base'] = df['Periodo'].apply(
        lambda n: round(capital_inicial * (1 + tasa_anual / m) ** (m * (n - 1)))
    )

    df['Inter√©s del periodo'] = df['Periodo'].apply(
        lambda n: round(capital_inicial * (1 + tasa_anual / m) ** (m * (n - 1)) * (tasa_anual / m))
    )

    df['Inter√©s acumulado'] = df['Periodo'].apply(
        lambda n: round(capital_inicial * ((1 + tasa_anual / m) ** (m * n) - 1))
    )

    df['Capital final'] = df['Periodo'].apply(
        lambda n: round(capital_inicial * (1 + tasa_anual / m) ** (m * n))
    )

    return df

In [6]:
df = tabla_anual_interes_compuesto(
    capital_inicial=1_000_000,
    tasa_anual=0.10,
    m=1,
    n=5
)

df

,Periodo,Capital base,Inter√©s del periodo,Inter√©s acumulado,Capital final
0,1,1000000,100000,100000,1100000
1,2,1100000,110000,210000,1210000
2,3,1210000,121000,331000,1331000
3,4,1331000,133100,464100,1464100
4,5,1464100,146410,610510,1610510

In [7]:
def tabla_mensual_interes_compuesto(capital_inicial, tasa_anual, m, n):
    meses_totales = n * 12
    df = pd.DataFrame({'Mes': range(1, meses_totales + 1)})

    # Convertimos cada mes a fracci√≥n de a√±o
    df['A√±o'] = df['Mes'] / 12

    # Capital base al inicio del mes n: C0 * (1 + i/m)^(m * (t - 1/12))
    df['Capital base'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * (1 + tasa_anual / m) ** (m * (t - 1/12)))
    )

    # Inter√©s del mes n: Capital base del mes * (i / m)
    df['Inter√©s del mes'] = df['A√±o'].apply(
    lambda t: round(capital_inicial * (
        (1 + tasa_anual / m) ** (m * t)
        - (1 + tasa_anual / m) ** (m * (t - 1/12))
        ))
    )

    # Inter√©s acumulado hasta el mes n (f√≥rmula cerrada)
    df['Inter√©s acumulado'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * ((1 + tasa_anual / m) ** (m * t) - 1))
    )

    # Capital final al final del mes n: C0 * (1 + i/m)^(m * t)
    df['Capital final'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * (1 + tasa_anual / m) ** (m * t))
    )

    return df

In [8]:
df = tabla_mensual_interes_compuesto(
    capital_inicial=1_000_000,
    tasa_anual=0.10,
    m=1,
    n=5
)

df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,1000000,7974,7974,1007974
1,2,0.166667,1007974,8038,16012,1016012
2,3,0.250000,1016012,8102,24114,1024114
3,4,0.333333,1024114,8166,32280,1032280
4,5,0.416667,1032280,8232,40512,1040512
5,6,0.500000,1040512,8297,48809,1048809
6,7,0.583333,1048809,8363,57172,1057172
7,8,0.666667,1057172,8430,65602,1065602
8,9,0.750000,1065602,8497,74099,1074099
9,10,0.833333,1074099,8565,82665,1082665
10,11,0.916667,1082665,8633,91298,1091298
11,12,1.000000,1091298,8702,100000,1100000
12,13,1.083333,1100000,8772,108772,1108772
13,14,1.166667,1108772,8842,117613,1117613
14,15,1.250000,1117613,8912,126525,1126525
15,16,1.333333,1126525,8983,135508,1135508
16,17,1.416667,1135508,9055,144563,1144563
17,18,1.500000,1144563,9127,153690,1153690
18,19,1.583333,1153690,9200,162889,1162889
19,20,1.666667,1162889,9273,172162,1172162
20,21,1.750000,1172162,9347,181509,1181509
21,22,1.833333,1181509,9422,190931,1190931
22,23,1.916667,1190931,9497,200428,1200428
23,24,2.000000,1200428,9572,210000,1210000
24,25,2.083333,1210000,9649,219649,1219649
25,26,2.166667,1219649,9726,229374,1229374
26,27,2.250000,1229374,9803,239178,1239178
27,28,2.333333,1239178,9881,249059,1249059
28,29,2.416667,1249059,9960,259019,1259019
29,30,2.500000,1259019,10040,269059,1269059
30,31,2.583333,1269059,10120,279178,1279178
31,32,2.666667,1279178,10200,289379,1289379
32,33,2.750000,1289379,10282,299660,1299660
33,34,2.833333,1299660,10364,310024,1310024
34,35,2.916667,1310024,10446,320470,1320470
35,36,3.000000,1320470,10530,331000,1331000
36,37,3.083333,1331000,10614,341614,1341614
37,38,3.166667,1341614,10698,352312,1352312
38,39,3.250000,1352312,10784,363095,1363095
39,40,3.333333,1363095,10870,373965,1373965
40,41,3.416667,1373965,10956,384921,1384921
41,42,3.500000,1384921,11044,395965,1395965
42,43,3.583333,1395965,11132,407096,1407096
43,44,3.666667,1407096,11220,418317,1418317
44,45,3.750000,1418317,11310,429626,1429626
45,46,3.833333,1429626,11400,441026,1441026
46,47,3.916667,1441026,11491,452517,1452517
47,48,4.000000,1452517,11583,464100,1464100
48,49,4.083333,1464100,11675,475775,1475775
49,50,4.166667,1475775,11768,487543,1487543
50,51,4.250000,1487543,11862,499405,1499405
51,52,4.333333,1499405,11956,511361,1511361
52,53,4.416667,1511361,12052,523413,1523413
53,54,4.500000,1523413,12148,535561,1535561
54,55,4.583333,1535561,12245,547806,1547806
55,56,4.666667,1547806,12342,560148,1560148
56,57,4.750000,1560148,12441,572589,1572589
57,58,4.833333,1572589,12540,585129,1585129
58,59,4.916667,1585129,12640,597769,1597769
59,60,5.000000,1597769,12741,610510,1610510

## 06.02. Tema: Interes compuesto anual (capitalizable anualmente)(clase 06)

En que se convierte un capital de 1.200.000 dolares al cabo de 5 a√±os y a una tasa de interes compuesto anual del 8%.

In [9]:
capital_inicial = 1_200_000 # Capital inicial
tasa_anual = 0.08 # Tasa de interes efectivo anual
n = 5 # Cantidad de periodos que capitalizar√° (a√±os)
m = 1 # Cantidad de veces que capitaliza en el a√±o.

In [10]:
df = tabla_anual_interes_compuesto(
    capital_inicial,
    tasa_anual,
    m,
    n
)

df

,Periodo,Capital base,Inter√©s del periodo,Inter√©s acumulado,Capital final
0,1,1200000,96000,96000,1296000
1,2,1296000,103680,199680,1399680
2,3,1399680,111974,311654,1511654
3,4,1511654,120932,432587,1632587
4,5,1632587,130607,563194,1763194

## 06.03. Tema: Interes compuesto anual (capitalizable anualmente)(clase 06)

Una persona  deposita 100 dolares en un banco que garantiza un interes compuesto anual del 5%, Que importe recibe la persona al cabo de 2 a√±os? al cabo de 27 meses?

In [11]:
df = tabla_mensual_interes_compuesto(
    capital_inicial=100000,
    tasa_anual=0.05,
    m=1,
    n=3
)

df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,100000,407,407,100407
1,2,0.166667,100407,409,816,100816
2,3,0.250000,100816,411,1227,101227
3,4,0.333333,101227,412,1640,101640
4,5,0.416667,101640,414,2054,102054
5,6,0.500000,102054,416,2470,102470
6,7,0.583333,102470,417,2887,102887
7,8,0.666667,102887,419,3306,103306
8,9,0.750000,103306,421,3727,103727
9,10,0.833333,103727,423,4150,104150
10,11,0.916667,104150,424,4574,104574
11,12,1.000000,104574,426,5000,105000
12,13,1.083333,105000,428,5428,105428
13,14,1.166667,105428,430,5857,105857
14,15,1.250000,105857,431,6289,106289
15,16,1.333333,106289,433,6722,106722
16,17,1.416667,106722,435,7156,107156
17,18,1.500000,107156,437,7593,107593
18,19,1.583333,107593,438,8031,108031
19,20,1.666667,108031,440,8471,108471
20,21,1.750000,108471,442,8913,108913
21,22,1.833333,108913,444,9357,109357
22,23,1.916667,109357,446,9803,109803
23,24,2.000000,109803,447,10250,110250
24,25,2.083333,110250,449,10699,110699
25,26,2.166667,110699,451,11150,111150
26,27,2.250000,111150,453,11603,111603
27,28,2.333333,111603,455,12058,112058
28,29,2.416667,112058,457,12514,112514
29,30,2.500000,112514,458,12973,112973
30,31,2.583333,112973,460,13433,113433
31,32,2.666667,113433,462,13895,113895
32,33,2.750000,113895,464,14359,114359
33,34,2.833333,114359,466,14825,114825
34,35,2.916667,114825,468,15293,115293
35,36,3.000000,115293,470,15763,115763

## 06.04. Tema: Interes compuesto anual (capitalizable anualmente)(clase 06)

Se depositan $50.000 dolares en un banco durante 3 a√±os.
- a. Hallar el valor final a la tasa de interes simple al 30% anual.
- b. Hallar el valor final a la tasa de interes del 30% anual capitalizable mensualmente (interes compuesto).
- c. Que cantidad al final de esos 3 a√±os es mayor?

In [50]:
def tabla_mensual_interes_simple(capital_inicial, tasa_anual, n):
    meses_totales = n * 12
    df = pd.DataFrame({'Mes': range(1, meses_totales + 1)})

    # Convertimos mes a fracci√≥n de a√±o
    df['A√±o'] = df['Mes'] / 12

    # Capital base (constante)
    df['Capital base'] = capital_inicial

    # Inter√©s del mes (constante cada mes)
    interes_mensual = capital_inicial * tasa_anual / 12
    df['Inter√©s del mes'] = round(interes_mensual)

    # Inter√©s acumulado hasta el mes n
    df['Inter√©s acumulado'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * tasa_anual * t)
    )

    # Capital final
    df['Capital final'] = df['Inter√©s acumulado'] + capital_inicial

    return df

In [13]:
df_simple = tabla_mensual_interes_simple(
    capital_inicial=50_000,
    tasa_anual=0.30,
    n=3
)
df_simple

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,50000,1250,1250,51250
1,2,0.166667,50000,1250,2500,52500
2,3,0.250000,50000,1250,3750,53750
3,4,0.333333,50000,1250,5000,55000
4,5,0.416667,50000,1250,6250,56250
5,6,0.500000,50000,1250,7500,57500
6,7,0.583333,50000,1250,8750,58750
7,8,0.666667,50000,1250,10000,60000
8,9,0.750000,50000,1250,11250,61250
9,10,0.833333,50000,1250,12500,62500
10,11,0.916667,50000,1250,13750,63750
11,12,1.000000,50000,1250,15000,65000
12,13,1.083333,50000,1250,16250,66250
13,14,1.166667,50000,1250,17500,67500
14,15,1.250000,50000,1250,18750,68750
15,16,1.333333,50000,1250,20000,70000
16,17,1.416667,50000,1250,21250,71250
17,18,1.500000,50000,1250,22500,72500
18,19,1.583333,50000,1250,23750,73750
19,20,1.666667,50000,1250,25000,75000
20,21,1.750000,50000,1250,26250,76250
21,22,1.833333,50000,1250,27500,77500
22,23,1.916667,50000,1250,28750,78750
23,24,2.000000,50000,1250,30000,80000
24,25,2.083333,50000,1250,31250,81250
25,26,2.166667,50000,1250,32500,82500
26,27,2.250000,50000,1250,33750,83750
27,28,2.333333,50000,1250,35000,85000
28,29,2.416667,50000,1250,36250,86250
29,30,2.500000,50000,1250,37500,87500
30,31,2.583333,50000,1250,38750,88750
31,32,2.666667,50000,1250,40000,90000
32,33,2.750000,50000,1250,41250,91250
33,34,2.833333,50000,1250,42500,92500
34,35,2.916667,50000,1250,43750,93750
35,36,3.000000,50000,1250,45000,95000

In [14]:
df = tabla_mensual_interes_compuesto(
    capital_inicial=50_000,
    tasa_anual=0.30,
    m=12,
    n=3
)

df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,50000,1250,1250,51250
1,2,0.166667,51250,1281,2531,52531
2,3,0.250000,52531,1313,3845,53845
3,4,0.333333,53845,1346,5191,55191
4,5,0.416667,55191,1380,6570,56570
5,6,0.500000,56570,1414,7985,57985
6,7,0.583333,57985,1450,9434,59434
7,8,0.666667,59434,1486,10920,60920
8,9,0.750000,60920,1523,12443,62443
9,10,0.833333,62443,1561,14004,64004
10,11,0.916667,64004,1600,15604,65604
11,12,1.000000,65604,1640,17244,67244
12,13,1.083333,67244,1681,18926,68926
13,14,1.166667,68926,1723,20649,70649
14,15,1.250000,70649,1766,22415,72415
15,16,1.333333,72415,1810,24225,74225
16,17,1.416667,74225,1856,26081,76081
17,18,1.500000,76081,1902,27983,77983
18,19,1.583333,77983,1950,29933,79933
19,20,1.666667,79933,1998,31931,81931
20,21,1.750000,81931,2048,33979,83979
21,22,1.833333,83979,2099,36079,86079
22,23,1.916667,86079,2152,38231,88231
23,24,2.000000,88231,2206,40436,90436
24,25,2.083333,90436,2261,42697,92697
25,26,2.166667,92697,2317,45015,95015
26,27,2.250000,95015,2375,47390,97390
27,28,2.333333,97390,2435,49825,99825
28,29,2.416667,99825,2496,52320,102320
29,30,2.500000,102320,2558,54878,104878
30,31,2.583333,104878,2622,57500,107500
31,32,2.666667,107500,2688,60188,110188
32,33,2.750000,110188,2755,62943,112943
33,34,2.833333,112943,2824,65766,115766
34,35,2.916667,115766,2894,68660,118660
35,36,3.000000,118660,2967,71627,121627

# Clase 07. Conversi√≥n de Tasas de Inter√©s Nominales a Efectivas

In [15]:
def tasa_efectiva_a_nominal(tasa_efectiva, m):
    """
    Convierte una tasa efectiva anual a tasa nominal anual.

    Par√°metros:
    - tasa_efectiva: Tasa efectiva anual (ej. 0.1268 para 12.68%)
    - m: N√∫mero de periodos de capitalizaci√≥n por a√±o (ej. 12 para mensual)

    Retorna:
    - tasa_nominal: Tasa nominal anual equivalente
    """
    return m * ((1 + tasa_efectiva) ** (1 / m) - 1)


def tasa_nominal_a_efectiva(tasa_nominal, m):
    """
    Convierte una tasa nominal anual a tasa efectiva anual.

    Par√°metros:
    - tasa_nominal: Tasa nominal anual (ej. 0.12 para 12%)
    - m: N√∫mero de periodos de capitalizaci√≥n por a√±o (ej. 12 para mensual)

    Retorna:
    - tasa_efectiva: Tasa efectiva anual equivalente
    """
    return (1 + tasa_nominal / m) ** m - 1

In [16]:
# Tasa nominal del 12% capitalizable mensualmente (m = 12)
tasa_nom = 0.12
tasa_efec = tasa_nominal_a_efectiva(tasa_nom, m=12)
print(f"Tasa efectiva anual: {tasa_efec:.4%}")  # 12.68%

# Inverso: convertir esa tasa efectiva a nominal
tasa_recuperada = tasa_efectiva_a_nominal(tasa_efec, m=12)
print(f"Tasa nominal anual: {tasa_recuperada:.4%}")  # 12.00%

Tasa efectiva anual: 12.6825%
Tasa nominal anual: 12.0000%

In [100]:
def convertir_tasa(tasa_valor, tipo_origen, periodo_origen, tipo_destino, periodo_destino):
    """
    Convierte tasas entre nominales y efectivas, anuales o mensuales.

    Par√°metros:
    - tasa_valor: Valor de la tasa en decimales (ej. 0.24 para 24%)
    - tipo_origen: 'nominal' o 'efectiva'
    - periodo_origen: 'anual' o 'mensual'
    - tipo_destino: 'nominal' o 'efectiva'
    - periodo_destino: 'anual' o 'mensual'

    Retorna:
    - Tasa convertida (float, en decimales)
    """
    m = 12  # n√∫mero de per√≠odos por a√±o

    # Paso 1: Convertir a tasa efectiva anual como punto com√∫n
    if tipo_origen == 'efectiva' and periodo_origen == 'anual':
        tea = tasa_valor
    elif tipo_origen == 'nominal' and periodo_origen == 'anual':
        tea = (1 + tasa_valor / m) ** m - 1
    elif tipo_origen == 'efectiva' and periodo_origen == 'mensual':
        tea = (1 + tasa_valor) ** m - 1
    elif tipo_origen == 'nominal' and periodo_origen == 'mensual':
        tea = (1 + tasa_valor / 1) ** m - 1
    else:
        raise ValueError("Par√°metros de origen no v√°lidos.")

    # Paso 2: Convertir desde la tasa efectiva anual al destino
    if tipo_destino == 'efectiva' and periodo_destino == 'anual':
        return tea
    elif tipo_destino == 'nominal' and periodo_destino == 'anual':
        return m * ((1 + tea) ** (1 / m) - 1)
    elif tipo_destino == 'efectiva' and periodo_destino == 'mensual':
        return (1 + tea) ** (1 / m) - 1
    elif tipo_destino == 'nominal' and periodo_destino == 'mensual':
        return ((1 + tea) ** (1 / m) - 1) * 1
    else:
        raise ValueError("Par√°metros de destino no v√°lidos.")

In [104]:
convertir_tasa(0.08688, 'efectiva', 'anual', 'nominal', 'anual')

0.08360107510004777

In [106]:
convertir_tasa(0.08361, 'nominal', 'anual','efectiva', 'anual')

0.08688963322235366

In [17]:
def fun_tabla_mensual_interes_compuesto_nominal_efectiva(capital_inicial, tasa_anual, m, n, tasa_es_efectiva=False):
    # m: N√∫mero de periodos de capitalizaci√≥n por a√±o (ej. 12 para mensual)

    if tasa_es_efectiva:
        # Convertimos tasa efectiva anual a nominal anual equivalente
        tasa_anual = m * ((1 + tasa_anual) ** (1 / m) - 1)

    meses_totales = n * 12
    df = pd.DataFrame({'Mes': range(1, meses_totales + 1)})

    df['A√±o'] = df['Mes'] / 12

    # Capital base al inicio del mes n
    df['Capital base'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * (1 + tasa_anual / m) ** (m * (t - 1/12)))
    )

    # Inter√©s del mes n
    df['Inter√©s del mes'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * (
            (1 + tasa_anual / m) ** (m * t) -
            (1 + tasa_anual / m) ** (m * (t - 1/12))
        ))
    )

    # Inter√©s acumulado
    df['Inter√©s acumulado'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * ((1 + tasa_anual / m) ** (m * t) - 1))
    )

    # Capital final
    df['Capital final'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * (1 + tasa_anual / m) ** (m * t))
    )

    return df

In [18]:
# Tasa efectiva anual del 12.68%
df = fun_tabla_mensual_interes_compuesto_nominal_efectiva(
    capital_inicial=1_000_000,
    tasa_anual=0.1268,  # efectiva
    m=12,
    n=5,
    tasa_es_efectiva=True
)
df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,1000000,9998,9998,1009998
1,2,0.166667,1009998,10098,20096,1020096
2,3,0.250000,1020096,10199,30295,1030295
3,4,0.333333,1030295,10301,40596,1040596
4,5,0.416667,1040596,10404,51000,1051000
5,6,0.500000,1051000,10508,61508,1061508
6,7,0.583333,1061508,10613,72121,1072121
7,8,0.666667,1072121,10719,82841,1082841
8,9,0.750000,1082841,10826,93667,1093667
9,10,0.833333,1093667,10935,104602,1104602
10,11,0.916667,1104602,11044,115646,1115646
11,12,1.000000,1115646,11154,126800,1126800
12,13,1.083333,1126800,11266,138066,1138066
13,14,1.166667,1138066,11379,149444,1149444
14,15,1.250000,1149444,11492,160937,1160937
15,16,1.333333,1160937,11607,172544,1172544
16,17,1.416667,1172544,11723,184267,1184267
17,18,1.500000,1184267,11840,196108,1196108
18,19,1.583333,1196108,11959,208066,1208066
19,20,1.666667,1208066,12078,220145,1220145
20,21,1.750000,1220145,12199,232344,1232344
21,22,1.833333,1232344,12321,244665,1244665
22,23,1.916667,1244665,12444,257109,1257109
23,24,2.000000,1257109,12569,269678,1269678
24,25,2.083333,1269678,12694,282373,1282373
25,26,2.166667,1282373,12821,295194,1295194
26,27,2.250000,1295194,12950,308143,1308143
27,28,2.333333,1308143,13079,321222,1321222
28,29,2.416667,1321222,13210,334432,1334432
29,30,2.500000,1334432,13342,347774,1347774
30,31,2.583333,1347774,13475,361249,1361249
31,32,2.666667,1361249,13610,374859,1374859
32,33,2.750000,1374859,13746,388605,1388605
33,34,2.833333,1388605,13883,402489,1402489
34,35,2.916667,1402489,14022,416511,1416511
35,36,3.000000,1416511,14162,430673,1430673
36,37,3.083333,1430673,14304,444978,1444978
37,38,3.166667,1444978,14447,459425,1459425
38,39,3.250000,1459425,14592,474016,1474016
39,40,3.333333,1474016,14737,488753,1488753
40,41,3.416667,1488753,14885,503638,1503638
41,42,3.500000,1503638,15034,518672,1518672
42,43,3.583333,1518672,15184,533856,1533856
43,44,3.666667,1533856,15336,549191,1549191
44,45,3.750000,1549191,15489,564680,1564680
45,46,3.833333,1564680,15644,580324,1580324
46,47,3.916667,1580324,15800,596125,1596125
47,48,4.000000,1596125,15958,612083,1612083
48,49,4.083333,1612083,16118,628201,1628201
49,50,4.166667,1628201,16279,644480,1644480
50,51,4.250000,1644480,16442,660921,1660921
51,52,4.333333,1660921,16606,677527,1677527
52,53,4.416667,1677527,16772,694300,1694300
53,54,4.500000,1694300,16940,711239,1711239
54,55,4.583333,1711239,17109,728349,1728349
55,56,4.666667,1728349,17280,745629,1745629
56,57,4.750000,1745629,17453,763082,1763082
57,58,4.833333,1763082,17628,780709,1780709
58,59,4.916667,1780709,17804,798513,1798513
59,60,5.000000,1798513,17982,816495,1816495

In [19]:
# Tasa efectiva anual del 12.68%
df = fun_tabla_mensual_interes_compuesto_nominal_efectiva(
    capital_inicial=1_000_000,
    tasa_anual=0.12,  # efectiva
    m=12,
    n=5,
    tasa_es_efectiva=False
)
df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,1000000,10000,10000,1010000
1,2,0.166667,1010000,10100,20100,1020100
2,3,0.250000,1020100,10201,30301,1030301
3,4,0.333333,1030301,10303,40604,1040604
4,5,0.416667,1040604,10406,51010,1051010
5,6,0.500000,1051010,10510,61520,1061520
6,7,0.583333,1061520,10615,72135,1072135
7,8,0.666667,1072135,10721,82857,1082857
8,9,0.750000,1082857,10829,93685,1093685
9,10,0.833333,1093685,10937,104622,1104622
10,11,0.916667,1104622,11046,115668,1115668
11,12,1.000000,1115668,11157,126825,1126825
12,13,1.083333,1126825,11268,138093,1138093
13,14,1.166667,1138093,11381,149474,1149474
14,15,1.250000,1149474,11495,160969,1160969
15,16,1.333333,1160969,11610,172579,1172579
16,17,1.416667,1172579,11726,184304,1184304
17,18,1.500000,1184304,11843,196147,1196147
18,19,1.583333,1196147,11961,208109,1208109
19,20,1.666667,1208109,12081,220190,1220190
20,21,1.750000,1220190,12202,232392,1232392
21,22,1.833333,1232392,12324,244716,1244716
22,23,1.916667,1244716,12447,257163,1257163
23,24,2.000000,1257163,12572,269735,1269735
24,25,2.083333,1269735,12697,282432,1282432
25,26,2.166667,1282432,12824,295256,1295256
26,27,2.250000,1295256,12953,308209,1308209
27,28,2.333333,1308209,13082,321291,1321291
28,29,2.416667,1321291,13213,334504,1334504
29,30,2.500000,1334504,13345,347849,1347849
30,31,2.583333,1347849,13478,361327,1361327
31,32,2.666667,1361327,13613,374941,1374941
32,33,2.750000,1374941,13749,388690,1388690
33,34,2.833333,1388690,13887,402577,1402577
34,35,2.916667,1402577,14026,416603,1416603
35,36,3.000000,1416603,14166,430769,1430769
36,37,3.083333,1430769,14308,445076,1445076
37,38,3.166667,1445076,14451,459527,1459527
38,39,3.250000,1459527,14595,474123,1474123
39,40,3.333333,1474123,14741,488864,1488864
40,41,3.416667,1488864,14889,503752,1503752
41,42,3.500000,1503752,15038,518790,1518790
42,43,3.583333,1518790,15188,533978,1533978
43,44,3.666667,1533978,15340,549318,1549318
44,45,3.750000,1549318,15493,564811,1564811
45,46,3.833333,1564811,15648,580459,1580459
46,47,3.916667,1580459,15805,596263,1596263
47,48,4.000000,1596263,15963,612226,1612226
48,49,4.083333,1612226,16122,628348,1628348
49,50,4.166667,1628348,16283,644632,1644632
50,51,4.250000,1644632,16446,661078,1661078
51,52,4.333333,1661078,16611,677689,1677689
52,53,4.416667,1677689,16777,694466,1694466
53,54,4.500000,1694466,16945,711410,1711410
54,55,4.583333,1711410,17114,728525,1728525
55,56,4.666667,1728525,17285,745810,1745810
56,57,4.750000,1745810,17458,763268,1763268
57,58,4.833333,1763268,17633,780901,1780901
58,59,4.916667,1780901,17809,798710,1798710
59,60,5.000000,1798710,17987,816697,1816697

In [20]:
df = tabla_mensual_interes_compuesto(
    capital_inicial=1_000_000,
    tasa_anual=0.12,
    m=12,
    n=5
)

df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,1000000,10000,10000,1010000
1,2,0.166667,1010000,10100,20100,1020100
2,3,0.250000,1020100,10201,30301,1030301
3,4,0.333333,1030301,10303,40604,1040604
4,5,0.416667,1040604,10406,51010,1051010
5,6,0.500000,1051010,10510,61520,1061520
6,7,0.583333,1061520,10615,72135,1072135
7,8,0.666667,1072135,10721,82857,1082857
8,9,0.750000,1082857,10829,93685,1093685
9,10,0.833333,1093685,10937,104622,1104622
10,11,0.916667,1104622,11046,115668,1115668
11,12,1.000000,1115668,11157,126825,1126825
12,13,1.083333,1126825,11268,138093,1138093
13,14,1.166667,1138093,11381,149474,1149474
14,15,1.250000,1149474,11495,160969,1160969
15,16,1.333333,1160969,11610,172579,1172579
16,17,1.416667,1172579,11726,184304,1184304
17,18,1.500000,1184304,11843,196147,1196147
18,19,1.583333,1196147,11961,208109,1208109
19,20,1.666667,1208109,12081,220190,1220190
20,21,1.750000,1220190,12202,232392,1232392
21,22,1.833333,1232392,12324,244716,1244716
22,23,1.916667,1244716,12447,257163,1257163
23,24,2.000000,1257163,12572,269735,1269735
24,25,2.083333,1269735,12697,282432,1282432
25,26,2.166667,1282432,12824,295256,1295256
26,27,2.250000,1295256,12953,308209,1308209
27,28,2.333333,1308209,13082,321291,1321291
28,29,2.416667,1321291,13213,334504,1334504
29,30,2.500000,1334504,13345,347849,1347849
30,31,2.583333,1347849,13478,361327,1361327
31,32,2.666667,1361327,13613,374941,1374941
32,33,2.750000,1374941,13749,388690,1388690
33,34,2.833333,1388690,13887,402577,1402577
34,35,2.916667,1402577,14026,416603,1416603
35,36,3.000000,1416603,14166,430769,1430769
36,37,3.083333,1430769,14308,445076,1445076
37,38,3.166667,1445076,14451,459527,1459527
38,39,3.250000,1459527,14595,474123,1474123
39,40,3.333333,1474123,14741,488864,1488864
40,41,3.416667,1488864,14889,503752,1503752
41,42,3.500000,1503752,15038,518790,1518790
42,43,3.583333,1518790,15188,533978,1533978
43,44,3.666667,1533978,15340,549318,1549318
44,45,3.750000,1549318,15493,564811,1564811
45,46,3.833333,1564811,15648,580459,1580459
46,47,3.916667,1580459,15805,596263,1596263
47,48,4.000000,1596263,15963,612226,1612226
48,49,4.083333,1612226,16122,628348,1628348
49,50,4.166667,1628348,16283,644632,1644632
50,51,4.250000,1644632,16446,661078,1661078
51,52,4.333333,1661078,16611,677689,1677689
52,53,4.416667,1677689,16777,694466,1694466
53,54,4.500000,1694466,16945,711410,1711410
54,55,4.583333,1711410,17114,728525,1728525
55,56,4.666667,1728525,17285,745810,1745810
56,57,4.750000,1745810,17458,763268,1763268
57,58,4.833333,1763268,17633,780901,1780901
58,59,4.916667,1780901,17809,798710,1798710
59,60,5.000000,1798710,17987,816697,1816697

## 07.01. Tema: Conversion tasas de interes

Se invierte $8.000 dolares por un a√±o a la tasa del 12% capitalizable mensualmente. Determinar el monto al final del a√±o.

In [21]:
# Tasa efectiva anual del 12.68%
df = fun_tabla_mensual_interes_compuesto_nominal_efectiva(
    capital_inicial=8_000,
    tasa_anual=0.12,  # nominal
    m=12,
    n=1,
    tasa_es_efectiva=False
)
df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,8000,80,80,8080
1,2,0.166667,8080,81,161,8161
2,3,0.250000,8161,82,242,8242
3,4,0.333333,8242,82,325,8325
4,5,0.416667,8325,83,408,8408
5,6,0.500000,8408,84,492,8492
6,7,0.583333,8492,85,577,8577
7,8,0.666667,8577,86,663,8663
8,9,0.750000,8663,87,749,8749
9,10,0.833333,8749,87,837,8837
10,11,0.916667,8837,88,925,8925
11,12,1.000000,8925,89,1015,9015

# Clase 08. Tipos de Amortizaci√≥n y su Impacto Financiero

# Clase 09. C√°lculo de Tablas de Amortizaci√≥n para Pr√©stamos

In [30]:
def tabla_amortizacion_francesa(capital_inicial, tasa_periodo, n_periodos):
    cuota = capital_inicial * (tasa_periodo * (1 + tasa_periodo) ** n_periodos) / ((1 + tasa_periodo) ** n_periodos - 1)

    df = pd.DataFrame({'periodo': range(0, n_periodos + 1)})

    saldo_insoluto = lambda k: capital_inicial * ((1 + tasa_periodo) ** n_periodos - (1 + tasa_periodo) ** k) / ((1 + tasa_periodo) ** n_periodos - 1)
    saldo_inicial = lambda k: capital_inicial if k == 1 else saldo_insoluto(k - 1)
    interes_k = lambda k: saldo_inicial(k) * tasa_periodo if k >= 1 else 0
    amortizacion_k = lambda k: cuota - interes_k(k) if k >= 1 else 0

    df['saldo_inicial'] = df['periodo'].apply(lambda k: 0 if k == 0 else round(saldo_inicial(k), 2))
    df['pago_mensual'] = df['periodo'].apply(lambda k: 0 if k == 0 else round(cuota, 2))
    df['interes'] = df['periodo'].apply(lambda k: round(interes_k(k), 2))
    df['amortizacion'] = df['periodo'].apply(lambda k: round(amortizacion_k(k), 2))
    df['saldo_insoluto'] = df['periodo'].apply(lambda k: round(saldo_insoluto(k), 2))

    return df

In [40]:
df = tabla_amortizacion_francesa(
    capital_inicial=100_000_000,
    tasa_periodo=0.02,  # 1.5% mensual
    n_periodos=6
)

df

   periodo  saldo_inicial  pago_mensual  interes  amortizacion  saldo_insoluto
0        0           0.00          0.00     0.00          0.00       100000.00
1        1      100000.00      17852.58  2000.00      15852.58        84147.42
2        2       84147.42      17852.58  1682.95      16169.63        67977.79
3        3       67977.79      17852.58  1359.56      16493.03        51484.76
4        4       51484.76      17852.58  1029.70      16822.89        34661.87
5        5       34661.87      17852.58   693.24      17159.34        17502.53
6        6       17502.53      17852.58   350.05      17502.53            0.00

In [41]:
float(df.amortizacion.sum())

100000.0

In [43]:
df.interes/df.pago_mensual

0         NaN
1    0.112029
2    0.094269
3    0.076155
4    0.057678
5    0.038831
6    0.019608
dtype: float64

In [79]:
def tabla_amortizacion_francesa_flexible(capital_inicial, tasa, n_periodos, tasa_temporalidad='mensual', tasa_tipo='nominal', m=12):
    # convertir tasa a tasa mensual nominal
    if tasa_temporalidad == 'mensual':
        tasa_periodo = tasa
    elif tasa_temporalidad == 'anual':
        if tasa_tipo == 'efectiva':
            tasa_periodo = (1 + tasa) ** (1 / m) - 1
        elif tasa_tipo == 'nominal':
            tasa_periodo = tasa / m
        else:
            raise ValueError("tasa_tipo debe ser 'nominal' o 'efectiva'")
    else:
        raise ValueError("tasa_temporalidad debe ser 'mensual' o 'anual'")

    cuota = capital_inicial * (tasa_periodo * (1 + tasa_periodo) ** n_periodos) / ((1 + tasa_periodo) ** n_periodos - 1)

    df = pd.DataFrame({'periodo': range(0, n_periodos + 1)})

    saldo_insoluto = lambda k: capital_inicial * ((1 + tasa_periodo) ** n_periodos - (1 + tasa_periodo) ** k) / ((1 + tasa_periodo) ** n_periodos - 1)
    saldo_inicial = lambda k: capital_inicial if k == 1 else saldo_insoluto(k - 1)
    interes_k = lambda k: saldo_inicial(k) * tasa_periodo if k >= 1 else 0
    amortizacion_k = lambda k: cuota - interes_k(k) if k >= 1 else 0

    df['amortizacion'] = df['periodo'].apply(lambda k: round(amortizacion_k(k), 2))
    df['interes'] = df['periodo'].apply(lambda k: round(interes_k(k), 2))
    df['pago_mensual'] = df['periodo'].apply(lambda k: 0 if k == 0 else round(cuota, 2))
    df['saldo'] = df['periodo'].apply(lambda k: round(saldo_insoluto(k), 2))

    return df

In [98]:
def tabla_mensual_amortizacion_francesa(
    capital_inicial,
    tasa,
    periodos_n,
    periodos_temporalidad='mensual',
    tasa_temporalidad='mensual',
    tasa_tipo='nominal',
    m=12
):
    # convertir n√∫mero de periodos a meses si est√° en a√±os
    if periodos_temporalidad == 'mensual':
        n = periodos_n
    elif periodos_temporalidad == 'anual':
        n = periodos_n * m
    else:
        raise ValueError("periodos_temporalidad debe ser 'mensual' o 'anual'")

    # convertir tasa a tasa mensual nominal
    if tasa_temporalidad == 'mensual':
        tasa_periodo = tasa
    elif tasa_temporalidad == 'anual':
        if tasa_tipo == 'efectiva':
            tasa_periodo = (1 + tasa) ** (1 / m) - 1
        elif tasa_tipo == 'nominal':
            tasa_periodo = tasa / m
        else:
            raise ValueError("tasa_tipo debe ser 'nominal' o 'efectiva'")
    else:
        raise ValueError("tasa_temporalidad debe ser 'mensual' o 'anual'")

    # cuota fija sistema franc√©s
    cuota = capital_inicial * (tasa_periodo * (1 + tasa_periodo) ** n) / ((1 + tasa_periodo) ** n - 1)

    df = pd.DataFrame({'periodo': range(0, n + 1)})

    saldo_insoluto = lambda k: capital_inicial * ((1 + tasa_periodo) ** n - (1 + tasa_periodo) ** k) / ((1 + tasa_periodo) ** n - 1)
    saldo_inicial = lambda k: capital_inicial if k == 1 else saldo_insoluto(k - 1)
    interes_k = lambda k: saldo_inicial(k) * tasa_periodo if k >= 1 else 0
    amortizacion_k = lambda k: cuota - interes_k(k) if k >= 1 else 0

    df['amortizacion'] = df['periodo'].apply(lambda k: round(amortizacion_k(k), 2))
    df['interes'] = df['periodo'].apply(lambda k: round(interes_k(k), 2))
    df['pago_mensual'] = df['periodo'].apply(lambda k: 0 if k == 0 else round(cuota, 2))
    df['saldo'] = df['periodo'].apply(lambda k: round(saldo_insoluto(k), 2))

    print('x = 2', float(df.amortizacion.sum()))

    return df

### ---> AQUI

In [115]:
df = tabla_amortizacion_francesa_flexible(
    capital_inicial=90_000_000,
    tasa=0.08688,
    periodos_n = 84,
    periodos_temporalidad = 'mensual',
    tasa_temporalidad='anual',
    tasa_tipo='efectiva'
)

fecha_inicio = '2021-11-01'

# Crear rango de fechas mensuales
fechas = pd.date_range(start=fecha_inicio, periods=len(df), freq='MS')  # 'MS' = Month Start

# Crear nueva columna con formato 'YYYY-MM'
df['periodo'] = fechas.strftime('%Y-%m')
df

    periodo  amortizacion    interes  pago_mensual         saldo
0   2021-11          0.00       0.00          0.00 90,000,000.00
1   2021-12    791,952.54 627,008.06  1,418,960.61 89,208,047.46
2   2022-01    797,469.88 621,490.72  1,418,960.61 88,410,577.57
3   2022-02    803,025.66 615,934.94  1,418,960.61 87,607,551.91
4   2022-03    808,620.15 610,340.46  1,418,960.61 86,798,931.76
5   2022-04    814,253.61 604,707.00  1,418,960.61 85,984,678.16
6   2022-05    819,926.31 599,034.29  1,418,960.61 85,164,751.85
7   2022-06    825,638.54 593,322.07  1,418,960.61 84,339,113.31
8   2022-07    831,390.56 587,570.05  1,418,960.61 83,507,722.75
9   2022-08    837,182.66 581,777.95  1,418,960.61 82,670,540.09
10  2022-09    843,015.10 575,945.50  1,418,960.61 81,827,524.98
11  2022-10    848,888.19 570,072.42  1,418,960.61 80,978,636.80
12  2022-11    854,802.18 564,158.42  1,418,960.61 80,123,834.62
13  2022-12    860,757.38 558,203.23  1,418,960.61 79,263,077.24
14  2023-01    866,754.07 552,206.54  1,418,960.61 78,396,323.17
15  2023-02    872,792.53 546,168.08  1,418,960.61 77,523,530.64
16  2023-03    878,873.06 540,087.54  1,418,960.61 76,644,657.57
17  2023-04    884,995.96 533,964.65  1,418,960.61 75,759,661.61
18  2023-05    891,161.51 527,799.10  1,418,960.61 74,868,500.10
19  2023-06    897,370.02 521,590.59  1,418,960.61 73,971,130.09
20  2023-07    903,621.77 515,338.83  1,418,960.61 73,067,508.31
21  2023-08    909,917.09 509,043.52  1,418,960.61 72,157,591.23
22  2023-09    916,256.26 502,704.35  1,418,960.61 71,241,334.97
23  2023-10    922,639.59 496,321.02  1,418,960.61 70,318,695.38
24  2023-11    929,067.40 489,893.21  1,418,960.61 69,389,627.99
25  2023-12    935,539.98 483,420.63  1,418,960.61 68,454,088.00
26  2024-01    942,057.66 476,902.95  1,418,960.61 67,512,030.34
27  2024-02    948,620.75 470,339.86  1,418,960.61 66,563,409.60
28  2024-03    955,229.56 463,731.05  1,418,960.61 65,608,180.04
29  2024-04    961,884.41 457,076.20  1,418,960.61 64,646,295.63
30  2024-05    968,585.62 450,374.98  1,418,960.61 63,677,710.01
31  2024-06    975,333.52 443,627.08  1,418,960.61 62,702,376.49
32  2024-07    982,128.43 436,832.17  1,418,960.61 61,720,248.05
33  2024-08    988,970.68 429,989.92  1,418,960.61 60,731,277.37
34  2024-09    995,860.60 423,100.01  1,418,960.61 59,735,416.77
35  2024-10  1,002,798.52 416,162.09  1,418,960.61 58,732,618.25
36  2024-11  1,009,784.77 409,175.84  1,418,960.61 57,722,833.48
37  2024-12  1,016,819.70 402,140.91  1,418,960.61 56,706,013.79
38  2025-01  1,023,903.63 395,056.98  1,418,960.61 55,682,110.16
39  2025-02  1,031,036.92 387,923.69  1,418,960.61 54,651,073.24
40  2025-03  1,038,219.90 380,740.71  1,418,960.61 53,612,853.34
41  2025-04  1,045,452.93 373,507.68  1,418,960.61 52,567,400.41
42  2025-05  1,052,736.34 366,224.27  1,418,960.61 51,514,664.07
43  2025-06  1,060,070.50 358,890.11  1,418,960.61 50,454,593.57
44  2025-07  1,067,455.75 351,504.86  1,418,960.61 49,387,137.82
45  2025-08  1,074,892.46 344,068.15  1,418,960.61 48,312,245.37
46  2025-09  1,082,380.97 336,579.64  1,418,960.61 47,229,864.40
47  2025-10  1,089,921.65 329,038.95  1,418,960.61 46,139,942.74
48  2025-11  1,097,514.87 321,445.73  1,418,960.61 45,042,427.87
49  2025-12  1,105,160.99 313,799.62  1,418,960.61 43,937,266.88
50  2026-01  1,112,860.38 306,100.23  1,418,960.61 42,824,406.50
51  2026-02  1,120,613.40 298,347.20  1,418,960.61 41,703,793.10
52  2026-03  1,128,420.45 290,540.16  1,418,960.61 40,575,372.65
53  2026-04  1,136,281.88 282,678.73  1,418,960.61 39,439,090.78
54  2026-05  1,144,198.07 274,762.53  1,418,960.61 38,294,892.70
55  2026-06  1,152,169.42 266,791.18  1,418,960.61 37,142,723.28
56  2026-07  1,160,196.31 258,764.30  1,418,960.61 35,982,526.97
57  2026-08  1,168,279.11 250,681.49  1,418,960.61 34,814,247.86
58  2026-09  1,176,418.23 242,542.38  1,418,960.61 33,637,829.63
59  2026-10  1,184,614.05 234,346.56  1,418,960.61 32,453,215.59
60  2026-11  1,192,866.96 226,093.64  1,418,960.61 31,260,348.62
61  2026-12  1,201,177.38 217,783.23  1,418,960.61 30,059,171.24
62  2027-01  1,209,545.69 209,414.92  1,418,960.61 28,849,625.56
63  2027-02  1,217,972.30 200,988.31  1,418,960.61 27,631,653.26
64  2027-03  1,226,457.61 192,502.99  1,418,960.61 26,405,195.65
65  2027-04  1,235,002.04 183,958.56  1,418,960.61 25,170,193.60
66  2027-05  1,243,606.00 175,354.60  1,418,960.61 23,926,587.60
67  2027-06  1,252,269.90 166,690.70  1,418,960.61 22,674,317.69
68  2027-07  1,260,994.16 157,966.44  1,418,960.61 21,413,323.53
69  2027-08  1,269,779.20 149,181.41  1,418,960.61 20,143,544.33
70  2027-09  1,278,625.44 140,335.16  1,418,960.61 18,864,918.89
71  2027-10  1,287,533.32 131,427.29  1,418,960.61 17,577,385.57
72  2027-11  1,296,503.25 122,457.36  1,418,960.61 16,280,882.33
73  2027-12  1,305,535.67 113,424.94  1,418,960.61 14,975,346.66
74  2028-01  1,314,631.02 104,329.59  1,418,960.61 13,660,715.64
75  2028-02  1,323,789.73  95,170.88  1,418,960.61 12,336,925.91
76  2028-03  1,333,012.25  85,948.36  1,418,960.61 11,003,913.66
77  2028-04  1,342,299.02  76,661.58  1,418,960.61  9,661,614.64
78  2028-05  1,351,650.49  67,310.11  1,418,960.61  8,309,964.14
79  2028-06  1,361,067.11  57,893.49  1,418,960.61  6,948,897.03
80  2028-07  1,370,549.33  48,411.27  1,418,960.61  5,578,347.70
81  2028-08  1,380,097.62  38,862.99  1,418,960.61  4,198,250.08
82  2028-09  1,389,712.42  29,248.19  1,418,960.61  2,808,537.66
83  2028-10  1,399,394.21  19,566.40  1,418,960.61  1,409,143.45
84  2028-11  1,409,143.45   9,817.16  1,418,960.61          0.00

In [118]:
df = tabla_amortizacion_francesa_flexible(
    capital_inicial=39_256_073.95,
    tasa=0.08688,
    periodos_n = 31,
    periodos_temporalidad = 'mensual',
    tasa_temporalidad='anual',
    tasa_tipo='efectiva'
)

fecha_inicio = '2025-06-01'

# Crear rango de fechas mensuales
fechas = pd.date_range(start=fecha_inicio, periods=len(df), freq='MS')  # 'MS' = Month Start

# Crear nueva columna con formato 'YYYY-MM'
df['periodo'] = fechas.strftime('%Y-%m')
df

    periodo  amortizacion    interes  pago_mensual         saldo
0   2025-06          0.00       0.00          0.00 39,256,073.95
1   2025-07  1,138,888.43 273,487.50  1,412,375.93 38,117,185.52
2   2025-08  1,146,822.79 265,553.14  1,412,375.93 36,970,362.73
3   2025-09  1,154,812.42 257,563.51  1,412,375.93 35,815,550.31
4   2025-10  1,162,857.72 249,518.21  1,412,375.93 34,652,692.58
5   2025-11  1,170,959.07 241,416.86  1,412,375.93 33,481,733.52
6   2025-12  1,179,116.85 233,259.08  1,412,375.93 32,302,616.66
7   2026-01  1,187,331.47 225,044.46  1,412,375.93 31,115,285.19
8   2026-02  1,195,603.32 216,772.61  1,412,375.93 29,919,681.87
9   2026-03  1,203,932.80 208,443.13  1,412,375.93 28,715,749.07
10  2026-04  1,212,320.31 200,055.62  1,412,375.93 27,503,428.76
11  2026-05  1,220,766.25 191,609.68  1,412,375.93 26,282,662.52
12  2026-06  1,229,271.03 183,104.90  1,412,375.93 25,053,391.49
13  2026-07  1,237,835.06 174,540.87  1,412,375.93 23,815,556.43
14  2026-08  1,246,458.75 165,917.18  1,412,375.93 22,569,097.68
15  2026-09  1,255,142.53 157,233.40  1,412,375.93 21,313,955.15
16  2026-10  1,263,886.80 148,489.13  1,412,375.93 20,050,068.35
17  2026-11  1,272,691.99 139,683.94  1,412,375.93 18,777,376.36
18  2026-12  1,281,558.53 130,817.40  1,412,375.93 17,495,817.84
19  2027-01  1,290,486.83 121,889.10  1,412,375.93 16,205,331.01
20  2027-02  1,299,477.34 112,898.59  1,412,375.93 14,905,853.67
21  2027-03  1,308,530.48 103,845.45  1,412,375.93 13,597,323.19
22  2027-04  1,317,646.69  94,729.24  1,412,375.93 12,279,676.49
23  2027-05  1,326,826.42  85,549.51  1,412,375.93 10,952,850.07
24  2027-06  1,336,070.09  76,305.84  1,412,375.93  9,616,779.98
25  2027-07  1,345,378.17  66,997.76  1,412,375.93  8,271,401.81
26  2027-08  1,354,751.09  57,624.84  1,412,375.93  6,916,650.72
27  2027-09  1,364,189.31  48,186.62  1,412,375.93  5,552,461.41
28  2027-10  1,373,693.28  38,682.65  1,412,375.93  4,178,768.13
29  2027-11  1,383,263.47  29,112.46  1,412,375.93  2,795,504.66
30  2027-12  1,392,900.33  19,475.60  1,412,375.93  1,402,604.33
31  2028-01  1,402,604.33   9,771.60  1,412,375.93          0.00

In [99]:
df = tabla_mensual_amortizacion_francesa(
    capital_inicial=100_000_000,
    periodos_temporalidad = 'mensual',
    periodos_n = 84,
    tasa_temporalidad='anual',
    tasa_tipo='efectiva',
    tasa=0.1654
)
df

x = 2 99999999.99000001

    periodo  amortizacion      interes  pago_mensual          saldo
0         0          0.00         0.00          0.00 100,000,000.00
1         1    668,732.18 1,283,706.13  1,952,438.31  99,331,267.82
2         2    677,316.74 1,275,121.57  1,952,438.31  98,653,951.08
3         3    686,011.50 1,266,426.82  1,952,438.31  97,967,939.58
4         4    694,817.87 1,257,620.45  1,952,438.31  97,273,121.71
..      ...           ...          ...           ...            ...
80       80  1,831,805.67   120,632.64  1,952,438.31   7,565,410.76
81       81  1,855,320.67    97,117.64  1,952,438.31   5,710,090.09
82       82  1,879,137.54    73,300.78  1,952,438.31   3,830,952.55
83       83  1,903,260.14    49,178.17  1,952,438.31   1,927,692.41
84       84  1,927,692.41    24,745.91  1,952,438.31           0.00

[85 rows x 5 columns]

In [61]:
pd.set_option('display.float_format', '{:,.2f}'.format)

In [65]:
df = tabla_amortizacion_francesa_flexible(
    capital_inicial=100_000_000,
    tasa=0.1286,
    n_periodos=120,
    es_mensual=False,
    es_efectiva=True,
    m=12
)
print('x = 2')
df

x = 2

     periodo  amortizacion      interes  pago_mensual          saldo
0          0          0.00         0.00          0.00 100,000,000.00
1          1    430,666.54 1,013,248.33  1,443,914.87  99,569,333.46
2          2    435,030.26 1,008,884.61  1,443,914.87  99,134,303.20
3          3    439,438.20 1,004,476.68  1,443,914.87  98,694,865.00
4          4    443,890.80 1,000,024.08  1,443,914.87  98,250,974.20
..       ...           ...          ...           ...            ...
116      116  1,372,934.77    70,980.10  1,443,914.87   5,632,268.18
117      117  1,386,846.01    57,068.86  1,443,914.87   4,245,422.17
118      118  1,400,898.20    43,016.67  1,443,914.87   2,844,523.97
119      119  1,415,092.78    28,822.09  1,443,914.87   1,429,431.19
120      120  1,429,431.19    14,483.69  1,443,914.87           0.00

[121 rows x 5 columns]

In [53]:
float(df.amortizacion.sum())

99999999.99000001

In [63]:
float(df.interes.sum())

73269784.91

In [64]:
float(df.pago_mensual.sum())

173269784.4000001

In [22]:
perro

NameError: name 'perro' is not defined

In [78]:
df = tabla_amortizacion_francesa_flexible(
    capital_inicial=100_000_000,
    tasa=0.1654,
    n_periodos=84,
    es_mensual=False,
    es_efectiva=True,
    m=12
)
print('x = 2: ', float(df.amortizacion.sum()))
df

x = 2:  99999999.99000001

    periodo  amortizacion      interes  pago_mensual          saldo
0         0          0.00         0.00          0.00 100,000,000.00
1         1    668,732.18 1,283,706.13  1,952,438.31  99,331,267.82
2         2    677,316.74 1,275,121.57  1,952,438.31  98,653,951.08
3         3    686,011.50 1,266,426.82  1,952,438.31  97,967,939.58
4         4    694,817.87 1,257,620.45  1,952,438.31  97,273,121.71
..      ...           ...          ...           ...            ...
80       80  1,831,805.67   120,632.64  1,952,438.31   7,565,410.76
81       81  1,855,320.67    97,117.64  1,952,438.31   5,710,090.09
82       82  1,879,137.54    73,300.78  1,952,438.31   3,830,952.55
83       83  1,903,260.14    49,178.17  1,952,438.31   1,927,692.41
84       84  1,927,692.41    24,745.91  1,952,438.31           0.00

[85 rows x 5 columns]

In [74]:
1952438.31+70000

2022438.31

In [76]:
1283700+668711.58+70000

2022411.58

# 02. TEA, TEM, TED (Tazas de interes efectivas)

Definiciones:

- TEA (Taza efectiva anual)
- TEM (Taza efectiva mensual)
- TED (Taza efectiva diaria)

C√°lculo de tasas de intres mensual y diaria a partir de la taza de interes anual:
$$ TEA = \left(1+TEA\right)^{1/1}-1$$
$$ TEM = \left(1+TEA\right)^{1/12}-1$$
$$ TED = \left(1+TEA\right)^{1/365}-1$$

In [ ]:
# Ejemplo 01:
TEA = 0.39
TEM = pow(1+TEA,1/12)-1
TED = pow(1+TEA,(1/365))-1
print(TEA, TEM, TED)

C√°lculo de la tasa de intres anual a partir de la tazas de interes diaria y mensual:
$$ TEA\% = 100*\left(1+TEA\right)^{1}-100$$
$$ TEA\% = 100*\left(1+TEM\right)^{12}-100$$
$$ TEA\% = 100*\left(1+TED\right)^{365}-100$$

In [ ]:
# Ejemplo 02:
TEM
TED
TEA = round(pow(1+TEM,12)-1,5)
TEA = round(pow(1+TED,365)-1,5)
print(TEA, TEM, TED)

In [ ]:
# Ejemplo 03:
TEM = 0.01
TEA = round(pow(1+TEM,12)-1,5)
print(TEA, TEM)

# 02. C√°lculo de la cuota fija mensual

- Monto:
- **Plazo:** el plazo debe estar dado en las mismas unidades en que se calcule la couta fija. Si es el c√°lculo de la cuota fija mensual, por ejemplo, la taza a emplear es la tasa efectiva mensual respectivamante
- TEA:

## Ejemplo 01:
- Monto: 30 Millones de pesos
- Plazo: 60 meses
- TEA: 0.11

In [ ]:
monto = 30000000
plazo = 60
TEA = 0.11

In [ ]:
TEM = pow(1+TEA,1/12)-1
TEM

In [ ]:
cuota = round(monto*(TEM*pow(1+TEM,plazo))/(pow(1+TEM,plazo)-1))
cuota

## Ejemplo 02:
- Monto: 10 Millones de pesos
- Plazo: 18 meses
- TEM: 0.008

In [ ]:
monto = 10000000
plazo = 18
TEM = 0.008

In [ ]:
cuota = round(monto*(TEM*pow(1+TEM,plazo))/(pow(1+TEM,plazo)-1))
cuota

## Ejemplo 03:

In [ ]:
monto = 5824700
plazo = 12
TEM = 0.008

In [ ]:
cuota = round(monto*(TEM*pow(1+TEM,plazo))/(pow(1+TEM,plazo)-1))
cuota

# 03. C√°lculo de la proyecci√≥n de pagos

# XX. Puntos por estudiar con mayor detalle

- Interes compuesto