<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Finanzas/blob/main/DS_FIN_01_Creditos_estudio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science - Cr√©ditos

# 01. Ejercicios interes compuesto (platzi)

### üìä F√≥rmulas en inter√©s compuesto

1. **Capital base al inicio del periodo \(n\):**

$$
C_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{m(n - 1)}
$$

2. **Inter√©s del periodo \(n\):**

$$
I_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{m(n - 1)} \cdot \frac{i}{m}
$$

3. **Inter√©s acumulado hasta el periodo \(n\):**

$$
I_{\text{acum},n} = C_0 \cdot \left( \left(1 + \frac{i}{m} \right)^{mn} - 1 \right)
$$

4. **Capital final al final del periodo \(n\):**

$$
CF_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{mn}
$$

### üìä F√≥rmulas mensuales con tasa efectiva anual

1. **Conversi√≥n de mes a fracci√≥n de a√±o**  
Para el mes \( n \), su equivalente en a√±os es:  
$$
t = \frac{n}{12}
$$

2. **Capital base al inicio del mes \( n \)**  
(Valor acumulado hasta el mes anterior):  
$$
C_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{m \left(t - \frac{1}{12} \right)}
$$

3. **Inter√©s del mes \( n \)**  
(Inter√©s ganado exclusivamente durante el mes actual):  
$$
I_{\text{mes},n} = C_0 \cdot \left[
\left(1 + \frac{i}{m} \right)^{m \cdot t} -
\left(1 + \frac{i}{m} \right)^{m \cdot \left(t - \frac{1}{12} \right)}
\right]
$$

4. **Inter√©s acumulado hasta el mes \( n \)**  
(Suma total de intereses desde el inicio):  
$$
I_{\text{acum},n} = C_0 \cdot \left[
\left(1 + \frac{i}{m} \right)^{m \cdot t} - 1
\right]
$$

5. **Capital final al final del mes \( n \)**  
(Valor total acumulado con inter√©s compuesto):  
$$
CF_n = C_0 \cdot \left(1 + \frac{i}{m} \right)^{m \cdot t}
$$

---

### üìò Leyenda de s√≠mbolos:

- $$C_0$$: capital inicial  
- $$C_n$$: capital base al inicio del mes $$n$$  
- $$CF_n$$: capital final al final del mes $$n$$  
- $$I_{\text{mes},n}$$: inter√©s del mes $$n$$  
- $$I_{\text{acum},n}$$: inter√©s acumulado hasta el mes $$n$$  
- $$i$$: tasa de inter√©s efectiva anual  
- $$m$$: n√∫mero de capitalizaciones por a√±o (por ejemplo, 12 si es mensual)  
- $$t = \frac{n}{12}$$: mes $$n$$ expresado como fracci√≥n de a√±o

## 01.01. Tema: Interes compuesto anual (capitalizable anualmente)(clase 06)

Cual es el monto final de un deposito inicial de $1.000.000 a 5 a√±os d eplazo con un interes compuesto de 10% (como no se especifica se sobreentiende que es 10% anual).

In [1]:
capital_inicial = 1_000_000 # Capital inicial
tasa_anual = 0.1 # Tasa de interes efectivo anual
n = 5 # Cantidad de periodos que capitalizar√° (a√±os)
m = 1 # Cantidad de veces que capitaliza en el a√±o.

In [2]:
capital_final = round(capital_inicial * (1 + tasa_anual / m) ** (m * n))
capital_final

1610510

In [3]:
interes_acumulado = round(capital_inicial * ((1 + tasa_anual / m) ** (m * n) - 1))
interes_acumulado

610510

In [4]:
interes_periodo_n = round(capital_inicial * (1 + tasa_anual / m) ** (m * (n - 1)) * (tasa_anual / m))
interes_periodo_n

146410

In [5]:
import pandas as pd

def generar_tabla_apply(capital_inicial, tasa_anual, m, n):
    df = pd.DataFrame({'Periodo': range(1, n + 1)})

    df['Capital base'] = df['Periodo'].apply(
        lambda n: round(capital_inicial * (1 + tasa_anual / m) ** (m * (n - 1)))
    )

    df['Inter√©s del periodo'] = df['Periodo'].apply(
        lambda n: round(capital_inicial * (1 + tasa_anual / m) ** (m * (n - 1)) * (tasa_anual / m))
    )

    df['Inter√©s acumulado'] = df['Periodo'].apply(
        lambda n: round(capital_inicial * ((1 + tasa_anual / m) ** (m * n) - 1))
    )

    df['Capital final'] = df['Periodo'].apply(
        lambda n: round(capital_inicial * (1 + tasa_anual / m) ** (m * n))
    )

    return df

In [6]:
df = generar_tabla_apply(
    capital_inicial=1_000_000,
    tasa_anual=0.10,
    m=1,
    n=5
)

df

,Periodo,Capital base,Inter√©s del periodo,Inter√©s acumulado,Capital final
0,1,1000000,100000,100000,1100000
1,2,1100000,110000,210000,1210000
2,3,1210000,121000,331000,1331000
3,4,1331000,133100,464100,1464100
4,5,1464100,146410,610510,1610510

In [16]:
def generar_tabla_mensual(capital_inicial, tasa_anual, m, n):
    meses_totales = n * 12
    df = pd.DataFrame({'Mes': range(1, meses_totales + 1)})

    # Convertimos cada mes a fracci√≥n de a√±o
    df['A√±o'] = df['Mes'] / 12

    # Capital base al inicio del mes n: C0 * (1 + i/m)^(m * (t - 1/12))
    df['Capital base'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * (1 + tasa_anual / m) ** (m * (t - 1/12)))
    )

    # Inter√©s del mes n: Capital base del mes * (i / m)
    df['Inter√©s del mes'] = df['A√±o'].apply(
    lambda t: round(capital_inicial * (
        (1 + tasa_anual / m) ** (m * t)
        - (1 + tasa_anual / m) ** (m * (t - 1/12))
        ))
    )

    # Inter√©s acumulado hasta el mes n (f√≥rmula cerrada)
    df['Inter√©s acumulado'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * ((1 + tasa_anual / m) ** (m * t) - 1))
    )

    # Capital final al final del mes n: C0 * (1 + i/m)^(m * t)
    df['Capital final'] = df['A√±o'].apply(
        lambda t: round(capital_inicial * (1 + tasa_anual / m) ** (m * t))
    )

    return df

In [17]:
df = generar_tabla_mensual(
    capital_inicial=1_000_000,
    tasa_anual=0.10,
    m=1,
    n=5
)

df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,1000000,7974,7974,1007974
1,2,0.166667,1007974,8038,16012,1016012
2,3,0.250000,1016012,8102,24114,1024114
3,4,0.333333,1024114,8166,32280,1032280
4,5,0.416667,1032280,8232,40512,1040512
5,6,0.500000,1040512,8297,48809,1048809
6,7,0.583333,1048809,8363,57172,1057172
7,8,0.666667,1057172,8430,65602,1065602
8,9,0.750000,1065602,8497,74099,1074099
9,10,0.833333,1074099,8565,82665,1082665
10,11,0.916667,1082665,8633,91298,1091298
11,12,1.000000,1091298,8702,100000,1100000
12,13,1.083333,1100000,8772,108772,1108772
13,14,1.166667,1108772,8842,117613,1117613
14,15,1.250000,1117613,8912,126525,1126525
15,16,1.333333,1126525,8983,135508,1135508
16,17,1.416667,1135508,9055,144563,1144563
17,18,1.500000,1144563,9127,153690,1153690
18,19,1.583333,1153690,9200,162889,1162889
19,20,1.666667,1162889,9273,172162,1172162
20,21,1.750000,1172162,9347,181509,1181509
21,22,1.833333,1181509,9422,190931,1190931
22,23,1.916667,1190931,9497,200428,1200428
23,24,2.000000,1200428,9572,210000,1210000
24,25,2.083333,1210000,9649,219649,1219649
25,26,2.166667,1219649,9726,229374,1229374
26,27,2.250000,1229374,9803,239178,1239178
27,28,2.333333,1239178,9881,249059,1249059
28,29,2.416667,1249059,9960,259019,1259019
29,30,2.500000,1259019,10040,269059,1269059
30,31,2.583333,1269059,10120,279178,1279178
31,32,2.666667,1279178,10200,289379,1289379
32,33,2.750000,1289379,10282,299660,1299660
33,34,2.833333,1299660,10364,310024,1310024
34,35,2.916667,1310024,10446,320470,1320470
35,36,3.000000,1320470,10530,331000,1331000
36,37,3.083333,1331000,10614,341614,1341614
37,38,3.166667,1341614,10698,352312,1352312
38,39,3.250000,1352312,10784,363095,1363095
39,40,3.333333,1363095,10870,373965,1373965
40,41,3.416667,1373965,10956,384921,1384921
41,42,3.500000,1384921,11044,395965,1395965
42,43,3.583333,1395965,11132,407096,1407096
43,44,3.666667,1407096,11220,418317,1418317
44,45,3.750000,1418317,11310,429626,1429626
45,46,3.833333,1429626,11400,441026,1441026
46,47,3.916667,1441026,11491,452517,1452517
47,48,4.000000,1452517,11583,464100,1464100
48,49,4.083333,1464100,11675,475775,1475775
49,50,4.166667,1475775,11768,487543,1487543
50,51,4.250000,1487543,11862,499405,1499405
51,52,4.333333,1499405,11956,511361,1511361
52,53,4.416667,1511361,12052,523413,1523413
53,54,4.500000,1523413,12148,535561,1535561
54,55,4.583333,1535561,12245,547806,1547806
55,56,4.666667,1547806,12342,560148,1560148
56,57,4.750000,1560148,12441,572589,1572589
57,58,4.833333,1572589,12540,585129,1585129
58,59,4.916667,1585129,12640,597769,1597769
59,60,5.000000,1597769,12741,610510,1610510

## 01.02. Tema: Interes compuesto anual (capitalizable anualmente)(clase 06)

En que se convierte un capital de 1.200.000 dolares al cabo de 5 a√±os y a una tasa de interes compuesto anual del 8%.

In [7]:
capital_inicial = 1_200_000 # Capital inicial
tasa_anual = 0.08 # Tasa de interes efectivo anual
n = 5 # Cantidad de periodos que capitalizar√° (a√±os)
m = 1 # Cantidad de veces que capitaliza en el a√±o.

In [10]:
df = generar_tabla_apply(
    capital_inicial,
    tasa_anual,
    m,
    n
)

df

,Periodo,Capital base,Inter√©s del periodo,Inter√©s acumulado,Capital final
0,1,1200000,96000,96000,1296000
1,2,1296000,103680,199680,1399680
2,3,1399680,111974,311654,1511654
3,4,1511654,120932,432587,1632587
4,5,1632587,130607,563194,1763194

## 01.03. Tema: Interes compuesto anual (capitalizable anualmente)(clase 06)

Una persona  deposita 100 dolares en un banco que garantiza un interes compuesto anual del 5%, Que importe recibe la persona al cabo de 2 a√±os? al cabo de 27 meses?

In [19]:
df = generar_tabla_mensual(
    capital_inicial=100000,
    tasa_anual=0.05,
    m=1,
    n=3
)

df

,Mes,A√±o,Capital base,Inter√©s del mes,Inter√©s acumulado,Capital final
0,1,0.083333,100000,407,407,100407
1,2,0.166667,100407,409,816,100816
2,3,0.250000,100816,411,1227,101227
3,4,0.333333,101227,412,1640,101640
4,5,0.416667,101640,414,2054,102054
5,6,0.500000,102054,416,2470,102470
6,7,0.583333,102470,417,2887,102887
7,8,0.666667,102887,419,3306,103306
8,9,0.750000,103306,421,3727,103727
9,10,0.833333,103727,423,4150,104150
10,11,0.916667,104150,424,4574,104574
11,12,1.000000,104574,426,5000,105000
12,13,1.083333,105000,428,5428,105428
13,14,1.166667,105428,430,5857,105857
14,15,1.250000,105857,431,6289,106289
15,16,1.333333,106289,433,6722,106722
16,17,1.416667,106722,435,7156,107156
17,18,1.500000,107156,437,7593,107593
18,19,1.583333,107593,438,8031,108031
19,20,1.666667,108031,440,8471,108471
20,21,1.750000,108471,442,8913,108913
21,22,1.833333,108913,444,9357,109357
22,23,1.916667,109357,446,9803,109803
23,24,2.000000,109803,447,10250,110250
24,25,2.083333,110250,449,10699,110699
25,26,2.166667,110699,451,11150,111150
26,27,2.250000,111150,453,11603,111603
27,28,2.333333,111603,455,12058,112058
28,29,2.416667,112058,457,12514,112514
29,30,2.500000,112514,458,12973,112973
30,31,2.583333,112973,460,13433,113433
31,32,2.666667,113433,462,13895,113895
32,33,2.750000,113895,464,14359,114359
33,34,2.833333,114359,466,14825,114825
34,35,2.916667,114825,468,15293,115293
35,36,3.000000,115293,470,15763,115763

In [8]:
perro

NameError: name 'perro' is not defined

# 02. TEA, TEM, TED (Tazas de interes efectivas)

Definiciones:

- TEA (Taza efectiva anual)
- TEM (Taza efectiva mensual)
- TED (Taza efectiva diaria)

C√°lculo de tasas de intres mensual y diaria a partir de la taza de interes anual:
$$ TEA = \left(1+TEA\right)^{1/1}-1$$
$$ TEM = \left(1+TEA\right)^{1/12}-1$$
$$ TED = \left(1+TEA\right)^{1/365}-1$$

In [ ]:
# Ejemplo 01:
TEA = 0.39
TEM = pow(1+TEA,1/12)-1
TED = pow(1+TEA,(1/365))-1
print(TEA, TEM, TED)

C√°lculo de la tasa de intres anual a partir de la tazas de interes diaria y mensual:
$$ TEA\% = 100*\left(1+TEA\right)^{1}-100$$
$$ TEA\% = 100*\left(1+TEM\right)^{12}-100$$
$$ TEA\% = 100*\left(1+TED\right)^{365}-100$$

In [ ]:
# Ejemplo 02:
TEM
TED
TEA = round(pow(1+TEM,12)-1,5)
TEA = round(pow(1+TED,365)-1,5)
print(TEA, TEM, TED)

In [ ]:
# Ejemplo 03:
TEM = 0.01
TEA = round(pow(1+TEM,12)-1,5)
print(TEA, TEM)

# 02. C√°lculo de la cuota fija mensual

- Monto:
- **Plazo:** el plazo debe estar dado en las mismas unidades en que se calcule la couta fija. Si es el c√°lculo de la cuota fija mensual, por ejemplo, la taza a emplear es la tasa efectiva mensual respectivamante
- TEA:

## Ejemplo 01:
- Monto: 30 Millones de pesos
- Plazo: 60 meses
- TEA: 0.11

In [ ]:
monto = 30000000
plazo = 60
TEA = 0.11

In [ ]:
TEM = pow(1+TEA,1/12)-1
TEM

In [ ]:
cuota = round(monto*(TEM*pow(1+TEM,plazo))/(pow(1+TEM,plazo)-1))
cuota

## Ejemplo 02:
- Monto: 10 Millones de pesos
- Plazo: 18 meses
- TEM: 0.008

In [ ]:
monto = 10000000
plazo = 18
TEM = 0.008

In [ ]:
cuota = round(monto*(TEM*pow(1+TEM,plazo))/(pow(1+TEM,plazo)-1))
cuota

## Ejemplo 03:

In [ ]:
monto = 5824700
plazo = 12
TEM = 0.008

In [ ]:
cuota = round(monto*(TEM*pow(1+TEM,plazo))/(pow(1+TEM,plazo)-1))
cuota

# 03. C√°lculo de la proyecci√≥n de pagos

# XX. Puntos por estudiar con mayor detalle

- Interes compuesto